.class-gallery
  .mask
    .slideset
      .slide
        = image_tag('img48.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
      .slide
        = image_tag('img49.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
      .slide
        = image_tag('img50.jpg', alt: 'image description', width: '177', height: '100')
        a.play href="#"
          span.icon-svg
      /! end slide
      .slide
        = image_tag('img51.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
      .slide
        = image_tag('img48.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
      .slide
        = image_tag('img49.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
      .slide
        = image_tag('img50.jpg', alt: 'image description', width: '177', height: '100')
        a.play href="#"
          span.icon-svg
      /! end slide
      .slide
        = image_tag('img49.jpg', alt: 'image description', width: '177', height: '100')
        = link_to(                                                     \
            image_tag(                                                 \
              'icons/icon5.svg',                                       \
              alt: 'image description',                                \
              width: '26',                                             \
              height: '35',                                            \
              onerror:"this.onerror=null; this.src='images/icon5.png'" \
            ),                                                         \
            '#', class: 'play'                                         \
          )
      /! end slide
    /! end slideset
  /! end mask
  a.btn-prev href="#"  previous
  a.btn-next href="#"  next
/! end class-gallery
