---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=2000&currency=usd&card=tok_103F8X2zE6DXCiQZPC7Pbgi2&description=Baking%20Bread%20Level%201%20for%20newuser%40example.com
    headers:
      Authorization:
      - Bearer sk_test_nyjKshCzw50unEHfPc5VzYE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103F8X2zE6DXCiQZR4uXdtMZ",
          "object": "charge",
          "created": 1388779791,
          "livemode": false,
          "paid": true,
          "amount": 2000,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103F8X2zE6DXCiQZp6jAWsKl",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "Tkz6fHnLP9CR87PO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": "94107",
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": "pass"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103F8X2zE6DXCiQZHOWtujLq",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Baking Bread Level 1 for newuser@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Fri, 03 Jan 2014 20:09:51 GMT
recorded_with: VCR 2.6.0
