---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=10000&currency=usd&card=tok_102o8D2zE6DXCiQZUVFUygj5&description=Payment%20Description
    headers:
      Authorization:
      - Bearer sk_test_nyjKshCzw50unEHfPc5VzYE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102o8E2zE6DXCiQZfSqPmIEe"
          }
        }
  recorded_at: Wed, 23 Oct 2013 18:02:35 GMT
recorded_with: VCR 2.6.0
