---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=10000&currency=usd&card=tok_102oBo2zE6DXCiQZnpjjVOB3&description=Baking%20Bread%20for%20person1%40example.com
    headers:
      Authorization:
      - Bearer sk_test_nyjKshCzw50unEHfPc5VzYE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102oBp2zE6DXCiQZtPSEhiPr",
          "object": "charge",
          "created": 1382564741,
          "livemode": false,
          "paid": true,
          "amount": 10000,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102oBo2zE6DXCiQZkn1FWQLz",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2015,
            "fingerprint": "Tkz6fHnLP9CR87PO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": "94107",
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": "pass"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102oBp2zE6DXCiQZC4ETfSZr",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Baking Bread for person1@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Wed, 23 Oct 2013 21:45:42 GMT
recorded_with: VCR 2.6.0
