---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_102o9Q2zE6DXCiQZ9beo1TTY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_nyjKshCzw50unEHfPc5VzYE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102o9Q2zE6DXCiQZ9beo1TTY",
          "object": "charge",
          "created": 1382555810,
          "livemode": false,
          "paid": true,
          "amount": 10000,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102o9Q2zE6DXCiQZq0Lqds9q",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2015,
            "fingerprint": "Tkz6fHnLP9CR87PO",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102o9Q2zE6DXCiQZBxZTOMnF",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Baking Bread for toast@drtoast.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Tue, 29 Oct 2013 00:05:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_102o9Q2zE6DXCiQZ9beo1TTY/refund
    body:
      encoding: US-ASCII
      string: amount=1000
    headers:
      Authorization:
      - Bearer sk_test_nyjKshCzw50unEHfPc5VzYE6
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
 [...]
