<div id="homepage-hero">
  <div class="mc-logo">
    <%= image_tag('mc-logo.png', class: 'img-responsive') %>
  </div><!-- end mc-logo -->
  <div class="link-holder">
    <a class="link" href="#photo_section">
      <span class="icon-svg3"></span>
      browse classes
      <span class="icon-svg3"></span>
    </a><!-- end a.link tag-->
  </div><!-- end link-holder -->
  <span class="caption">usher teaches you dancing</span><!-- end caption -->
</div><!-- end jumbotron -->
