/*############# HORIZONTAL ALIGNMENT ###################*/
.right {
  float: right;
}
.left {
  float: left;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-left-padding {
  padding-left: 0;
}
.no-right-padding {
  padding-right: 0;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.right-mar-4 {
  margin-right: 4px;
}
.right-mar-10 {
  right-margin: 10px;
}
.right-mar-15 {
  right-margin: 15px;
}
.right-mar-20 {
  right-margin: 20px;
}
.right-mar-25 {
  right-margin: 25px;
}
.left-mar-4 {
  margin-left: 4px;
}
/******************* END HORIZONTAL ALIGNMENT ***************/

/*################# VERTICAL ALIGNMENT #####################*/
.negative-spacer-70 {
  margin-top: -70px;
}
.negative-spacer-22 {
  margin-top: -22px;
}
.negative-spacer-34 {
  margin-top: -34px;
}
.negative-spacer-15 {
  margin-top: -15px;
}
.height-45 {
  height: 45px;
}
.center-image {
  margin: 0 auto;
}
.top-spacer-2 {
  margin-top: 2px;
}
.top-spacer-10 {
  margin-top: 10px;
}
.top-spacer-13 {
  margin-top: 13px;
}
.top-spacer-15 {
  margin-top: 15px;
}
.top-spacer-25 {
  margin-top: 25px;
}
.top-spacer-30 {
  margin-top: 30px;
}
.top-spacer-65 {
  margin-top: 65px;
}
.text-centered {
  text-align: center;
}
.top-margin-large {
  margin-top: 120px;
}
