@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot?-gng7my');
  src:url('icomoon.eot?#iefix-gng7my') format('embedded-opentype'),
    url('icomoon.woff?-gng7my') format('woff'),
    url('icomoon.ttf?-gng7my') format('truetype'),
    url('icomoon.svg?-gng7my#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon-social';
  src:url('icomoon-social.eot?ok22g4');
  src:url('icomoon-social.eot?#iefixok22g4') format('embedded-opentype'),
    url('icomoon-social.woff?ok22g4') format('woff'),
    url('icomoon-social.ttf?ok22g4') format('truetype'),
    url('icomoon-social.svg?ok22g4#icomoon-social') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon2';
  src: url("icomoon2.eot?tgf9zp");
  src: url("icomoon2.eot?#iefixtgf9zp") format("embedded-opentype"),
    url("icomoon2.woff?tgf9zp") format("woff"),
    url("icomoon2.ttf?tgf9zp") format("truetype"),
    url("icomoon2.svg?tgf9zp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="ico-"], [class*=" ico-"] {
  font-family: 'icomoon-social';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconn-"], [class*=" iconn-"] {
  font-family: 'icomoon2';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-svg:before {
  content: "\e601";
}
.icon-svg2:before {
  content: "\e602";
}
.icon-svg3:before {
  content: "\e603";
}
.icon-svg4:before {
  content: "\e604";
}
.icon-svg5:before {
  content: "\e605";
}
.icon-svg6:before {
  content: "\e606";
}
.icon-svg7:before {
  content: "\e607";
}
.icon-svg10:before {
  content: "\e60a";
}
.icon-svg11:before {
  content: "\e60b";
}
.icon-svg12:before {
  content: "\e60c";
}
.icon-svg13:before {
  content: "\e60d";
}
.icon-svg14:before {
  content: "\e60e";
}
.icon-svg15:before {
  content: "\e60f";
}
.icon-svg16:before {
  content: "\e610";
}
.ico-twitter:before {
  content: "\e611";
}
.ico-mail:before {
  content: "\e612";
}
.ico-logo:before {
  content: "\e613";
}
.ico-facebook:before {
  content: "\e614";
}
.iconn-svg17:before {
  content: "\e600";
}
.iconn-notification:before {
  content: "\e605";
}
.iconn-class:before {
  content: "\e601";
}
.iconn-discuss:before {
  content: "\e602";
}
.iconn-pen:before {
  content: "\e603";
}
.iconn-pencil:before {
  content: "\e604";
}
.iconn-arrow:before {
  content: "\e606";
}
